body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

header {
    background-color: #3333cc;
    color: white;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
